:root {
  --color-bg: #e5e5e5;
  --color-main: #000000;
  --color-special: #fca311;
  --color-secondary: #14213d;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caprasimo', cursive;
}

body {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(./assets/fortuna-2/fondo4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  /* background-color: var(--color-secondary); */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--color-secondary);
  gap: 20px;  
}


.title {
  margin: 60px 0 10px;
  padding: 20px;
  top: 0;
  position: absolute;
  animation: MoveUpDown 1s forwards;
  font-size: 50px;
}

@keyframes MoveUpDown {
  0% {
    top: 0;
  }
  100% {
    top: 100px;
  }
}

@keyframes bright {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

 .button {
  background-color: var(--color-secondary);
  color: var(--color-white);
  width: 350px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out ;
  /* animation: bright 0.6s linear; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.button:hover {
  opacity: 0.7;
  transform: scale(0.97);
  background-image: rgba(0, 0, 0, 0.2);
} 




.phrase-container {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='500' height='250' preserveAspectRatio='none' viewBox='0 0 500 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1459%26quot%3b)' fill='none'%3e%3crect width='500' height='250' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1460%26quot%3b)'%3e%3c/rect%3e%3cpath d='M525 250L0 250 L0 208.35Q-8.34 175.01%2c 25 166.67Q31.27 131.27%2c 66.66666666666667 137.54Q95.65 141.52%2c 91.66666666666667 170.5Q125.55 162.71%2c 133.33333333333334 196.59Q138.14 176.4%2c 158.33333333333334 181.21Q165.03 162.91%2c 183.33333333333334 169.61Q183.47 144.75%2c 208.33333333333334 144.88Q234.39 129.27%2c 250 155.32Q287.6 167.91%2c 275 205.51Q253.45 158.96%2c 300 137.42Q353.12 148.87%2c 341.6666666666667 201.99Q338.26 173.59%2c 366.6666666666667 170.18Q377.06 138.9%2c 408.33333333333337 149.29Q415 130.96%2c 433.33333333333337 137.63Q455.6 134.9%2c 458.33333333333337 157.17Q479.19 153.03%2c 483.33333333333337 173.89Q488.98 137.87%2c 525 143.51z' fill='rgba(58%2c 99%2c 150%2c 0.54)'%3e%3c/path%3e%3cpath d='M500.0000000000001 250L0 250 L0 261.71Q7.59 244.3%2c 25 251.89Q20.77 206%2c 66.66666666666667 201.77Q84.03 177.47%2c 108.33333333333334 194.84Q144.8 189.64%2c 150 226.1Q189.45 223.89%2c 191.66666666666669 263.34Q193.84 240.51%2c 216.66666666666669 242.69Q222.81 207.16%2c 258.33333333333337 213.3Q263.44 193.41%2c 283.33333333333337 198.51Q332.51 206.02%2c 325.00000000000006 255.19Q342.97 248.16%2c 350.00000000000006 266.13Q353.71 228.18%2c 391.66666666666674 231.89Q394.98 193.53%2c 433.3333333333334 196.84Q472.83 194.67%2c 475.0000000000001 234.16Q492.52 226.68%2c 500.0000000000001 244.2z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1459'%3e%3crect width='500' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='100%25' cy='100%25' r='559.02' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1460'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.89'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  opacity: 0.8;
  box-shadow: 15px 20px rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px 50px 10px 50px;
  text-align: center;
}

.phrase-container .phrase {
  color: black;
  opacity: 1;
  margin: 0;
  padding: 10px;
  justify-content: center;
  font-size: 22px;
  line-height: 1.5;
  padding: 35px;
} 

.source {
  font-size: 20px;
}

/* Responsividad para pantallas móviles */
@media only screen and (max-width: 480px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6), url(/fortune-cookie/public/fortuna-1/fondo4.jpg));
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container {
    font-size: 14px;
  }

  .title {
    margin: 60px 0 30px;
    padding: 15px;
  }

  .button {
    margin: 30px 0 20px;
    width: 150px;
    height: 25px;
    font-size: 10px;
    box-shadow: 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out ;
    animation: bright 0.6s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
  }

  .button:hover {
    opacity: 0.7;
    transform: scale(0.97);
    background-image: linear-gradient(to right, #ffffff, #ffffffb8);
  } 

  .phrase-container {
    opacity: 0.8;
    box-shadow: 25px 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 10px 50px 10px 50px;
    text-align: center;
  }

  .phrase-container .phrase {
    font-size: 12px;
    padding: 19px;
  }
}


/* Responsividad para tablets */
@media only screen and (min-width: 481px) and (max-width: 1024px) {

  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6), url(./assets/fortuna-2/fondo4.jpg));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .container {
    font-size: 16px;
  }

  .title {
    margin: 100px 0 30px;
    padding: 18px;
  }

  .button {
    width: 180px;
    height: 28px;
    margin: 30px 0 30px;
    font-size: 10px;
  }

  .button:hover {
    opacity: 0.7;
    transform: scale(0.97);
    background-image: linear-gradient(to right, #ffffff, #ffffffb8);
  } 

  .phrase-container {
    width: 250px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin: 20px 0 30px;
    border-radius: 10px 50px 10px 50px;
    text-align: center;
  }

  .phrase-container .phrase {
    font-size: 14px;
    padding: 8px;
  }
} 

